/*General Dashboard*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Roboto;
}

a {
    text-decoration: none;
    color: inherit;
}

#header-dashboard {
    background-color: #5E2129;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

#lateralbar {
    background-color: #5E2129;
    height: 100%;
    width: 15%;
}

#menu {
    font-size: 25px;
    color: white;
    margin-right: 50px;
}

.link-menu {
    margin-right: 35px;
}

#content-body {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#notes-container {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.title-calendar-bar {
    font-size: 40px;
    color: #5E2129;
}

#form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
}

#title_note {
    height: 6%;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border-radius: 15px;
    border-color: transparent;
    padding: 10px;
    font-size: 18px;
}

#text_note {
    height: 20%;
    border-radius: 15px;
    background-color: #f0f0f0;
    border-color: transparent;
    padding: 15px;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: Roboto;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 0.4;
    font-size: 18px;
    font-family: Roboto;
}

#to-createnote-button {
    background-color: #5E2129;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    border-color: transparent;
    margin-top: 10px;
    width: 50%;
    height: 10%;
}

.calendar-bar {
    width: 50%;
}

#calendar {
    width: 50%;
}

.event-label {
    display: flex;
    background-color: #f0f0f0;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    margin-top: 10px;
    width: 70%;
}


#header-calendar-bar {
    background-color: white;
    width: 90%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#lateralbar {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    overflow: auto; 
    height: 100%;
}

.event-calendar {
    background-color: white;
    width: 90%;
    margin-top: 10px;
}

.box-event-lateral-bar {
    padding-left: 12px;
}