/*General Dashboard*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Roboto;
}

a {
    text-decoration: none;
    color: inherit;
}

#header-dashboard {
    background-color: #5E2129;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

#lateralbar {
    background-color: #5E2129;
    height: 100%;
    width: 15%;
}

#menu {
    font-size: 25px;
    color: white;
    margin-right: 50px;
}

.link-menu {
    margin-right: 35px;
}

#content-body {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* Specific page content */

#notes-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
}

#header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7%;
    margin-top: 50px;
    margin-bottom: 30px;
}

#create-note-button {
    background-color: #5E2129;
    width: 15%;
    height: 50px;
    border-radius: 25px;
    border-color: transparent;
    color: white;
    font-size: 15px;
}

#notes-title {
    color: #5E2129;
    font-size: 35px;
}

.note-label {
    display: flex;
    background-color: #f0f0f0;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    margin-top: 10px;
}

#header-calendar-bar {
    background-color: white;
    width: 90%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#lateralbar {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    overflow: auto; 
    height: 100%;
}

.event-calendar {
    background-color: white;
    width: 90%;
    margin-top: 10px;
}

.box-event-lateral-bar {
    padding-left: 12px;
}